[submodule "emacs-libs/rinari"]
  path = emacs-libs/rinari
  url = git://github.com/eschulte/rinari.git
[submodule "emacs-libs/rhtml"]
  path = emacs-libs/rhtml
  url = git://github.com/eschulte/rhtml.git
[submodule "emacs-libs/twittering-mode"]
  path = emacs-libs/twittering-mode
  url = git://github.com/hayamiz/twittering-mode.git
[submodule "emacs-libs/coffee-mode"]
   path = emacs-libs/coffee-mode
   url = git://github.com/mk-fg/coffee-mode.git
[submodule "emacs-libs/r-autoyas"]
	path = emacs-libs/r-autoyas
	url = git://github.com/mlf176f2/r-autoyas.el.git
[submodule "emacs-libs/js2"]
	path = emacs-libs/js2
	url = git://github.com/mooz/js2-mode.git
[submodule "emacs-libs/Pymacs"]
	path = emacs-libs/Pymacs
	url = git://github.com/pinard/Pymacs.git
[submodule "emacs-libs/citrus-mode"]
	path = emacs-libs/citrus-mode
	url = git://github.com/rejeep/citrus-mode.git
[submodule "emacs-libs/js2-refactor"]
	path = emacs-libs/js2-refactor
	url = git://github.com/magnars/js2-refactor.el.git
[submodule "emacs-libs/mark-multiple"]
	path = emacs-libs/mark-multiple
	url = git://github.com/magnars/mark-multiple.el.git
[submodule "emacs-libs/expand-region"]
	path = emacs-libs/expand-region
	url = git://github.com/magnars/expand-region.el.git
[submodule "emacs-libs/jshint-mode"]
	path = emacs-libs/jshint-mode
	url = git://github.com/daleharvey/jshint-mode.git
[submodule "emacs-libs/textmate"]
	path = emacs-libs/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "emacs-libs/auto-complete"]
	path = emacs-libs/auto-complete
	url = http://cx4a.org/repo/auto-complete.git
[submodule "emacs-libs/popup"]
	path = emacs-libs/popup
	url = git://github.com/m2ym/popup-el.git
[submodule "emacs-libs/org-mode"]
	path = emacs-libs/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "emacs-libs/less-css-mode"]
	path = emacs-libs/less-css-mode
	url = git://github.com/purcell/less-css-mode.git
[submodule "emacs-libs/clojure-mode"]
	path = emacs-libs/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "emacs-libs/swank-clojure"]
	path = emacs-libs/swank-clojure
	url = git://github.com/technomancy/swank-clojure.git
[submodule "emacs-libs/nrepl"]
	path = emacs-libs/nrepl
	url = git://github.com/kingtim/nrepl.el.git
[submodule "emacs-libs/rainbow-delimiters"]
	path = emacs-libs/rainbow-delimiters
	url = git://github.com/jlr/rainbow-delimiters.git
	url = https://github.com/technomancy/swank-clojure.git
[submodule "emacs-libs/idle-highlight-mode"]
	path = emacs-libs/idle-highlight-mode
	url = https://github.com/nonsequitur/idle-highlight-mode.git
[submodule "emacs-libs/epresent"]
	path = emacs-libs/epresent
	url = git://github.com/eschulte/epresent.git
[submodule "emacs-libs/ipython"]
	path = emacs-libs/ipython
	url = git://github.com/von/ipython.el.git
[submodule "emacs-libs/pylookup"]
	path = emacs-libs/pylookup
	url = git://github.com/tsgates/pylookup.git
[submodule ".vim/bundle/vim-ruby"]
  path = .vim/bundle/vim-ruby
  url = git://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/ZoomWin"]
  path = .vim/bundle/ZoomWin
  url = https://github.com/vim-scripts/ZoomWin.git
[submodule ".vim/bundle/syntastic"]
  path = .vim/bundle/syntastic
  url = https://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tagbar"]
  path = .vim/bundle/tagbar
  url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/tlib_vim"]
  path = .vim/bundle/tlib_vim
  url = https://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
  path = .vim/bundle/vim-addon-mw-utils
  url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/vim-snipmate"]
  path = .vim/bundle/vim-snipmate
  url = https://github.com/garbas/vim-snipmate.git
[submodule ".vim/bundle/vim-unimpaired"]
  path = .vim/bundle/vim-unimpaired
  url = git://github.com/tpope/vim-unimpaired.git
[submodule "src/vim/vim-snippets"]
  path = src/vim/vim-snippets
  url = https://github.com/honza/vim-snippets.git
[submodule "src/vim/supertab"]
  path = src/vim/supertab
  url = https://github.com/ervandew/supertab.git
[submodule "src/vim/ack.vim"]
  path = src/vim/ack.vim
  url = https://github.com/mileszs/ack.vim.git
[submodule "src/vim/nerdcommenter"]
  path = src/vim/nerdcommenter
  url = https://github.com/ddollar/nerdcommenter.git
[submodule "emacs-libs/org-jira"]
	path = emacs-libs/org-jira
	url = https://github.com/baohaojun/org-jira.git
[submodule "emacs-libs/nxhtml"]
	path = emacs-libs/nxhtml
	url = https://github.com/emacsmirror/nxhtml.git
[submodule "emacs-libs/go-errcheck"]
	path = emacs-libs/go-errcheck
	url = https://github.com/dominikh/go-errcheck.el
[submodule "emacs-libs/go-mode"]
	path = emacs-libs/go-mode
	url = git@github.com:dominikh/go-mode.el.git
[submodule "emacs-libs/flycheck-gometalinter"]
	path = emacs-libs/flycheck-gometalinter
	url = git@github.com:favadi/flycheck-gometalinter.git
[submodule "dockerfile-mode"]
	path = emacs-libs/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
