[submodule "emacs-libs/rinari"]
  path = emacs-libs/rinari
  url = https://github.com/eschulte/rinari.git
[submodule "emacs-libs/rhtml"]
  path = emacs-libs/rhtml
  url = https://github.com/eschulte/rhtml.git
[submodule "emacs-libs/twittering-mode"]
  path = emacs-libs/twittering-mode
  url = https://github.com/hayamiz/twittering-mode.git
[submodule "emacs-libs/coffee-mode"]
  path = emacs-libs/coffee-mode
  url = https://github.com/defunkt/coffee-mode.git
[submodule ".vim/bundle/vim-ruby"]
  path = .vim/bundle/vim-ruby
  url = git://github.com/vim-ruby/vim-ruby.git
[submodule "emacs-libs/ess"]
	path = emacs-libs/ess
	url = git://github.com/emacs-ess/ESS-mirror.git
