[user]
  name = Sandor Szuecs
  email = sandor.szuecs@fu-berlin.de
[color]
  status = auto
  branch = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[git-tmbundle "log"]
  context-lines = 5
[sendemail]
  smtpencryption = tls
[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
  cp = cherry-pick
  brl = for-each-ref --sort='-authordate:iso8601' --format=' %(color:green)%(authordate:iso8601)%09%(color:white)%(refname:short)' refs/heads
[push]
	default = matching
[pull]
	rebase = true
