.vim/bundle
.netrwhist
.pgpass
*history
*cache
emacs-libs/ess
emacs-libs/org-mode
emacs-libs/ecb
.DS_Store
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Programmierung
Public
Software
Sites
org
test-emacs
git
go
vagrant
upspin
upspin.io
zalando
.npm
.vagrant.d
Testzone
Vimball
backup
bin
cache
emacs-libs/nxhtml-2.08/nxhtml/etc/schema/xhtml-loader.rnc
gems
emacs.d_sszuecs.tar.xz
gnupg.macgpgsaved.10-07-02_10.16.03
hacking
irclogs
irssi_config
iso
jmeter
local
msf3
passwords.gpg
patches
pkg_build
rdoc
sbin
scratch
scripts
sniff_packets
specifications
src
tmp
usr
vimrc
vpworkspace
.hg*
.CFUserTextEncoding
.armitage.prop
.ecb-tip-of-day.el
.rdoc/
.recentf
.vpinstall.properties
.vpsuite_installation.xml
.cache
.cake
.cups
.drxrc
.eclipse
.fluxbox
.fontconfig
.freemind
.ganttproject
.gem
.irssi
.jmf
.lesshst
.local
.m2
.macports
.mediathek
.msf3
.multiruby
.puppet
.qphone
.semanticdb
.srecode
.ri
.rnd
.ruby_inline
.rvm
.sdedit.conf
.semanticdb
.srecode
.ssh
.subversion
.svn
.synergy.conf
.texlive2009
.viminfo
.vimrecent
.vnc
.yjp
.zcompcache
.zcompdump
.aspell*
.cpan*
.emacs*
.gnupg*
.gpg*
.ido.last*
.tmp*
.wireshark*
*.elc
*.log
*.off
*.rbc
.*hist*
*auth*

