[submodule "emacs-libs/rinari"]
  path = emacs-libs/rinari
  url = https://github.com/eschulte/rinari.git
[submodule "emacs-libs/rhtml"]
  path = emacs-libs/rhtml
  url = https://github.com/eschulte/rhtml.git
[submodule "emacs-libs/twittering-mode"]
  path = emacs-libs/twittering-mode
  url = https://github.com/hayamiz/twittering-mode.git
[submodule "emacs-libs/coffee-mode"]
   path = emacs-libs/coffee-mode
   url = https://github.com/mk-fg/coffee-mode.git
[submodule ".vim/bundle/vim-ruby"]
  path = .vim/bundle/vim-ruby
  url = git://github.com/vim-ruby/vim-ruby.git
[submodule "emacs-libs/ess"]
	path = emacs-libs/ess
	url = git://github.com/emacs-ess/ESS-mirror.git
[submodule "emacs-libs/r-autoyas"]
	path = emacs-libs/r-autoyas
	url = git://github.com/mlf176f2/r-autoyas.el.git
[submodule "emacs-libs/js2"]
	path = emacs-libs/js2
	url = https://github.com/mooz/js2-mode.git
[submodule "emacs-libs/Pymacs"]
	path = emacs-libs/Pymacs
	url = https://github.com/pinard/Pymacs.git
[submodule "emacs-libs/citrus-mode"]
	path = emacs-libs/citrus-mode
	url = https://github.com/rejeep/citrus-mode.git
[submodule "emacs-libs/js2-refactor"]
	path = emacs-libs/js2-refactor
	url = https://github.com/magnars/js2-refactor.el.git
[submodule "emacs-libs/mark-multiple"]
	path = emacs-libs/mark-multiple
	url = https://github.com/magnars/mark-multiple.el.git
[submodule "emacs-libs/expand-region"]
	path = emacs-libs/expand-region
	url = https://github.com/magnars/expand-region.el.git
[submodule "emacs-libs/jshint-mode"]
	path = emacs-libs/jshint-mode
	url = git://github.com/daleharvey/jshint-mode.git
[submodule "emacs-libs/textmate"]
	path = emacs-libs/textmate
	url = git://github.com/defunkt/textmate.el.git
