<html>
<head>
  <meta name="Emacs css-mode" content="nxhtml/eruby mit yasnippet ist toll :)" />
</head>
<% class Foo
  def initialize(args)
    @a = args
  end   
  attr_reader :a
end%>
<body>
  
</body>
</html>
